@typeparam TItem

<button class="@ButtonClass"
        title="@Title"
        @onclick="ExportAsync"
        disabled="@(Disabled)">
    @if (!string.IsNullOrWhiteSpace(IconClass))
    {
        <i class="@IconClass"></i>
    }
    @if (!string.IsNullOrWhiteSpace(Text))
    {
        <span class="ms-1">@Text</span>
    }
</button>